name: Saliva
link: https://salivaser.github.io
avatar: hhttps://img.rruu.net/image/5f401750db670
descr: 有些东西不曾变淡
# 边框大小 默认为0 
width: 0px
# 边框样式 默认 solid
style: solid
# 边框颜色 默认淡蓝色 #49b1f5
color: "#0078e7"
# 自动旋转 可选值 flash（闪现） link_custom（单色呼吸灯） link_custom1（彩色呼吸灯）
custom: link_custom1
# 动画时长设定，默认为0
time: 4s
# name的颜色
namecolor: "#ff9191"
# descr的颜色
descolor: "#ff9191"
# 背景颜色
background: 0
# 鼠标悬停旋转角度
rotate: 360deg
# 自动旋转 latuo左旋转 rauto右旋转
autorotate: "lauto"
# 旋转的周期（时长）
autotime: 2s
#移除此链接的权重 0为否 非0为移除
remove: 0